* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: #eab308;
}

header {
    text-align: center;
    color: #eab308;
    background-color: black;
}

header > h1{
    padding: 3rem 0rem;
    font-size: 4rem;
}

header > p{
    padding: 1rem 0rem;
    font-size: 2rem;
    display: block;
}

#result {
    font-size: 3rem;
    padding: 3rem;
    display: none;
}

.score {
    font-size: 3rem;
}

.quiz {
    padding-top: 1rem;
    background-color: #eab308;
}

.container {
    margin: 0 1rem;
}

.container > h2 {
    padding: 2rem 0rem;
    font-size: clamp(3rem, 5vw, 5rem);
    text-align: center;
}

.questions {
    margin: 2rem 2rem;
}

.questions > p {
    font-size: clamp(2rem, 2vw, 4rem);
    margin-bottom: 2rem;
}

label {
    font-size: clamp(1.5rem, 1.5vw, 5rem);
    vertical-align: middle;
    font-weight: 300;
}

input {
    cursor: pointer;
}

.button {
    text-align: center;
}

input[type=submit] {
    font-size: 2rem;
    margin: 3rem 0rem;
    padding: 10px 20px; 
    border-radius: 30px;
}